# Nuxt
src/site/.nuxt/
src/site/.output/
src/site/.data/
src/site/dist/

# Dependencies
src/site/node_modules/

# Logs
*.log
logs/

# Environment
.env
.env.*
!.env.example
etc/docker/.env.production

# Editor / OS
.DS_Store
.vscode/
.idea/
*.swp
